[Unit]
Description=Domain Generator App
Documentation=https://domgen.ml
After=syslog.target
After=network.target
After=nginx.service
Wants=redis.service
#Triggers=PYTHON SERVICE

[Service]
User=root
Group=www-data
Type=forking
PIDFile=/var/run/adddn/adddn.pid
WorkingDirectory=/var/www/adddn
#Environment="PATH=/var/www/adddn/adddnenv/bin"
Restart=always
ExecStart=/var/www/adddn/adddn --start
ExecReload=/var/www/adddn/adddn --reload
ExecStop=/var/www/adddn/adddn --stop
OOMScoreAdjust=-100
#PrivateTmp=true

[Install]
WantedBy=multi-user.target
