[Unit]
Description=Flask for: adddn
Documentation=https://adddn.ml

[Service]
WorkingDirectory=/var/www/adddn
ExecStart=/usr/bin/python3.7 /var/www/adddn/wsgi.py
Restart=always

[Install]
WantedBy=multi-user.target
