{% extends 'layout/base.html' %}
{% block main %}
    <h2>Генератор</h2>
    <div class="container generator">
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col col-form-label">Гео
                        <input type="text" class="form-control" name="geo" placeholder="ro" value="">
                    </label>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group row">
                    <label class="col col-form-label">Домен
                        <select class="form-control form-control-sm" name="domain">
                            <option selected>domain.com</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group row">
                    <label class="col col-form-label">Кол-во
                        <input type="text" class="form-control" name="num" placeholder="10" value="">
                    </label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <p class="text-center">
                        <button type="button" class="btn btn-secondary btn-generate">Сгенерировать</button>
                    </p>
                </div>
            </div>
            <div class="col-6 offset-3">
                <div class="form-group">
                    <div class="notify text-center"></div>
                    <label class="col col-form-label">Результат
                        <textarea class="form-control" rows="3"></textarea>
                        <button type="button" class="btn-sm btn-secondary btn-copy" aria-label="Копировать"><i class="far fa-copy"></i></button>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav-home').addClass('active');
            $('.btn-generate').click(function (e) {
                $(e.target).fadeOut(50);
                $.ajax({
                    url: '/genDomains',
                    type: "POST",
                    data: JSON.stringify({'name': 'value'}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        notify('Готово', 1);
                        $('textarea').val('')
                    },
                    error: function (data) {
                        console.log(data);
                        notify('Ошибка ' + data.status + ': ' + ('responseJSON' in data ? data.responseJSON['error_msg'] : data.statusText), 0);
                    },
                    complete: function () {
                        $(e.target).fadeIn(50);
                    }
                });
            });
            $('.btn-copy').click(function () {
                $('textarea').select();
                document.execCommand("copy");
                notify('Скопировано', 2);
            });
        });
    </script>
{% endblock %}