{% extends 'layout/base.html' %}
{% block main %}
    <h2>Добавить</h2>
    <div class="container">
        <form class="domain-generator">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col col-form-label">
{#                            <input type="text" class="form-control" name="geo" placeholder="Гео" value="">#}
                            <select class="form-control" name="geo">
                                {% if geos %}
                                    <option disabled selected>Гео...</option>
                                    {% for g in geos %}
                                        <option value="{{ g|lower }}">{{ g }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option disabled selected>geos.txt пуст</option>
                                {% endif %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group row">
                        <label class="col col-form-label">
                            <select class="form-control form-control-sm" name="domain_id">
                                {% if p_domains %}
                                    <option disabled selected>Домен...</option>
                                    {% for d in p_domains %}
                                        <option value="{{ d.id }}">{{ d.name }} ({{ d.child + 1 }} шт.)</option>
                                    {% endfor %}
                                {% else %}
                                    <option disabled selected>Нет доступных доменов. Настройки -> Сканировать.</option>
                                {% endif %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col col-form-label text-right">
                            <select class="form-control form-control-sm" name="num">
                                <option disabled selected>Кол-во...</option>
                                {% for i in range(1,11) %}
                                    <option value="{{ i }}">{{ i }} шт.</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <p class="text-center">
                            <button type="button" class="btn btn-secondary btn-generate">Сгенерировать</button>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <div class="notify text-center"></div>
                        <label class="col col-form-label">Результат
                            <textarea class="form-control data-response" rows="5"></textarea>
                            <button type="button" class="btn-sm btn-secondary btn-copy" aria-label="Копировать"><i class="far fa-copy"></i></button>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav-home').addClass('active');
            $('.btn-generate').click(function (e) {
                {#make_rq('/generateDomains', {'name': 'value'}, e);#}
                $(e.target).fadeOut(50);
                notify('Обработка..', 2);
                //var timer = Math.round((new Date().getTime() - ts) / 1000);
                $.ajax({
                    url: '/generateDomains',
                    data: $('.domain-generator').serialize(),
                    beforeSend: function(){
                        ts = new Date().getTime();
                        load_timer = setInterval(function(){
                            timer = Math.round((new Date().getTime() - ts) / 1000);
                            $('.badge.badge-info').text('Обработка, прошло ' + timer + ' сек.');
                        }, 1000);
                    },
                    success: function (data) {
                        notify('Сгенерировано за ' + timer + ' сек.', 1);
                        $('textarea').val(data);
                    },
                    error: function (data) {
                        notify('Ошибка ' + data.status + ': ' + ('responseJSON' in data ? data.responseJSON['error_msg'] : data.statusText), 0);
                    },
                    complete: function (data) {
                        {#console.log(data);#}
                        $(e.target).fadeIn(50);
                        clearInterval(load_timer);
                    }
                });
            });
            $('.btn-copy').click(function () {
                $('textarea').select();
                document.execCommand("copy");
                notify('Скопировано', 2);
            });
        });
    </script>
{% endblock %}