{% extends 'layout/base.html' %}
{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h2>Настройки</h2>
    <div class="settings jumbotron text-dark row">
        <div class="col-12">
            <div id="toolbar">
{#                <button id="remove" class="btn btn-danger" disabled>Удалить</button>#}
            </div>
            <table id="table" data-toolbar="#toolbar" data-show-footer="true" data-response-handler="responseHandler" data-show-refresh="true" data-id-field="id"
                   data-detail-formatter="detailFormatter" data-show-toggle="true" data-show-fullscreen="true" data-show-export="true"
{#                   data-pagination="true"#}
{#                   data-show-pagination-switch="true"#}
{#                   data-page-list="[10, 25, 50, 100, all]"#}
{#                   data-minimum-count-columns="2"#}
            >
            </table>
        </div>
        <br>
        <div class="col-12 text-center row">
            <div class="col-5 offset-2 form-group">
                <label class="col col-form-label">
                    <input class="form-control" type="text" name="new_domain" placeholder="Новый domain.com">
                </label>
            </div>
            <div class="col-3 form-group">
                <button class="btn btn-success btn-add-domain">Добавить</button>
            </div>
            <div class="col-5 offset-2 form-group">
                <p>Найти все активные nginx домены и их поддомены</p>
            </div>
            <div class="col-3 form-group">
                <button class="btn btn-secondary btn-scan">Сканировать</button>
            </div>
            <div class="col-12">
                <div class="notify text-center"></div>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav-settings').addClass('active');
            $('.btn-add-domain').click(function (e) {
                {#make_rq('/addDomain', {'domain': $('input[name=new_domain]').val()}, e);#}
                $(e.target).fadeOut(50);
                notify('Обработка..', 2);
                $.ajax({
                    url: '/addDomain',
                    type: "POST",
                    data: JSON.stringify({'domain': $('input[name=new_domain]').val()}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        var lang_ru = {'ssl': {false: 'без', true: 'с'}};
                        notify('Добавлено ' + lang_ru['ssl'][data['ssl']] + ' SSL', 1);
                        $('textarea').val('');
                        $table.bootstrapTable('refresh');
                    },
                    error: function (data) {
                        {#TODO: check error status and get msg if custom#}
                        console.log(data);
                        notify('Ошибка ' + data.status + ': ' + ('responseJSON' in data ? data.responseJSON['error_msg'] : data.statusText), 0);
                    },
                    complete: function () {
                        $(e.target).fadeIn(50);
                    }
                });
            });
            $('.btn-scan').click(function (e) {
                $(e.target).fadeOut(50);
                notify('Обработка..', 2);
                $.ajax({
                    url: '/scan',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        notify('Сканирование завершено', 1);
                        $table.bootstrapTable('refresh');
                    },
                    error: function (data) {
                        console.log(data);
                        notify('Ошибка ' + data.status + ': ' + ('responseJSON' in data ? data.responseJSON['error_msg'] : data.statusText), 0);
                    },
                    complete: function () {
                        $(e.target).fadeIn(50);
                    }
                });
            })
        });
    </script>
    <script>
        var $table = $('#table')
        var $remove = $('#remove')
        var selections = []

        function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
                url: '/getDomains',
                locale: 'ru-RU',
                striped: true,
                idField: 'id',
                showColumns: true,
                columns: [{
                    field: 'state',
                    checkbox: true
                }, {
                    field: 'name',
                    title: 'Домен',
                    sortable: true,
                    footerFormatter: totalDomains
                }, {
                    field: 'child',
                    title: 'Поддомены',
                    align: 'center',
                    sortable: true,
                    formatter: childrenFormatter
                }, {
                    field: 'id',
                    title: 'ID',
                    sortable: true,
                    align: 'center',
                }],
                treeShowField: 'name',
                parentIdField: 'pid',
                onPostBody: function () {
                    var columns = $table.bootstrapTable('getOptions').columns

                    if (columns && columns[0][1].visible) {
                        $table.treegrid({
                            treeColumn: 1,
                            initialState: 'collapsed',
                            expanderExpandedClass: 'fa fa-minus',
                            expanderCollapsedClass: 'fa fa-plus',
                            onChange: function () {
                                $table.bootstrapTable('resetWidth')
                            }
                        })
                    }
                }
            })
            $table.on('load-success.bs.table', function (e, name, args) {
                console.log(name, args)
                $('.treegrid-expanded .treegrid-expander').append('<i class="fa" aria-hidden="true"></i>');
            })
            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
                    // save your data, here just save the current page
                    selections = getIdSelections() // TODO: select all child
                    // push or splice the selections if you want to save all data selections
                })
            $table.on('all.bs.table', function (e, name, args) {
                console.log(name, args)
            })
            $remove.click(function () {
                var ids = getIdSelections()
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                })
                $remove.prop('disabled', true)
            })
        }

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            })
        }

        function totalDomains(data) {
            return 'Адресов всего: ' + data.length
        }

        function childrenFormatter(value, row, index) {
            if (value) {
                return value
            }
        }

        function responseHandler(res) {
            $.each(res.rows, function (i, row) {
                row.state = $.inArray(row.id, selections) !== -1
            })
            return res
        }

        function detailFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            })
            return html.join('')
        }


        $(document).ready(function () {
            $(function () {
                initTable()
            })
        })
    </script>
{% endblock %}